## Artemis-specific options
##
artemis:
  vaultPassword: "dummy"

  config:
    server:
      users:
        - name: admin
          role: admin

        - name: artemis
          role: user

      ssh-keys:
        - name: dummy
          owner: admin
          fingerprint: ""
          private: "dummy"
          public: "dummy"

      priority-groups:
        - name: default-priority

      guest_tags: {'ServiceName': 'Artemis'}

      pools: []
    extraFiles:
      {% for hook in ['ARTEMIS_HOOK_AWS_ENVIRONMENT_TO_IMAGE.py', 'ARTEMIS_HOOK_AZURE_ENVIRONMENT_TO_IMAGE.py', 'ARTEMIS_HOOK_BEAKER_ENVIRONMENT_TO_IMAGE.py', 'ARTEMIS_HOOK_OPENSTACK_ENVIRONMENT_TO_IMAGE.py', 'ARTEMIS_HOOK_ROUTE.py'] %}
      {{ hook }}: |
        {% filter indent(8) -%}
        {% include 'test/artemis/server/configuration/' + hook -%}
        {% endfilter -%}
      {% endfor %}

  api:
    processes: 1
    threads: 1
  workers:
    list:
    - processes: 1
      threads: 1
    - name: periodic
      processes: 1
      threads: 1
      queues:
        - periodic
        - pool-data-refresh

  logging:
    method: stdout
    level: info
    json: true
    dbPool: false
    dbQueries: false
    dbSlowQueries: false
    dbSlowQueryThreshold: 10

  metrics:
    image:
      enabled: true

adminer:
  install: true
  image:
    registry: quay.io
    repository: testing-farm/adminer

postgresql:
  install: true

rabbitmq:
  install: true
  auth:
    username: "artemis"
  metrics:
    enabled: true

redis:
  install: true
  metrics:
    enabled: true
